# see: xmodmap -pm
set $mod Mod1
set $alt Mod4
set $ctr control
set $term alacritty

bindsym $alt+Return exec $term
bindsym $ctr+Shift+q kill
bindsym $ctr+$mod+Shift+c reload
bindsym $mod+$alt+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -B 'Yes, exit sway' 'swaymsg exit'

# from sway-launcher-desktop readme
# this works with foot as term, using $term (alacritty) would require playing
# around with the for_window setttings
for_window [app_id="^launcher2$"] floating enable, sticky enable, resize set 30 ppt 60 ppt, border pixel 10
set $menufoot exec foot -a launcher2 -e ~/.local/bin/sway-launcher-desktop.sh
bindsym $alt+d exec $menufoot

# for_window [app_id="^launcher$"] floating enable
# set $menu exec $term -a launcher -e ~/.local/bin/sway-launcher-desktop.sh
# bindsym $mod+d exec $menu
# bindsym $mod+d exec alacritty -t "sway-launcher-desktop" -d 110 36 -e env TERMINAL_COMMAND="alacritty -e" /usr/bin/sway-launcher-desktop 3>>~/.tmp/sway-launcher.log
bindsym $mod+d exec alacritty -t "sway-launcher-desktop" -d 110 36 

# from default sway config
include /etc/sway/config-vars.d/*
# output * bg /usr/share/backgrounds/sway/Sway_Wallpaper_Blue_1920x1080.png fill

set $left n
set $down e
set $up i
set $right o

bindsym $mod+$left focus left
bindsym $mod+$right focus right
bindsym $mod+$up focus up
bindsym $mod+$down focus down

set $resize_px 50
set $move_px 50px
bindsym $mod+Shift+$left move left $move_px 
bindsym $mod+Shift+$down move down $move_px 
bindsym $mod+Shift+$up move up $move_px
bindsym $mod+Shift+$right move right $move_px

bindsym $mod+h split h
bindsym $mod+v split v

bindsym $mod+f fullscreen
bindsym $mod+Shift+f fullscreen global

# Change container layout (stacked, tabbed, toggle split [default])
bindsym $mod+s layout stacking
bindsym $mod+t layout tabbed
bindsym $mod+p layout toggle split
bindsym $mod+w layout toggle 

bindsym $mod+a focus parent
bindsym $mod+Shift+a focus child
#bindsym $alt+Tab toggle focus

# Toggle tiling / floating 
bindsym $mod+Shift+space floating toggle

# Change focus b/t tiling / floating windows
bindsym $alt+space focus mode_toggle

# Hold alt to move (LMB) and resize (RMB) floating windows
floating_modifier $alt

# Move floating container to the center of all outputs
bindsym $mod+Shift+c move absolute position center

# Make floating window omnipresent ("stick to the glass")
bindsym $mod+Shift+s sticky toggle

# Put YouTube into fullscreen and execute this for media mode.
# On firefox this requires setting full-screen-api.ignore-widgets: true in
# about:config. This restricts firefox fullscreen to its container. 
# Side effect: this includes F11, which is actually neat since it lets me get a poor man's app mode (hide url/tabs) which I've been missing coming from chrome.
bindsym $mod+y fullscreen disable; floating enable; resize set 1200 800; sticky enable
bindsym $mod+Shift+y fullscreen disable; floating disable; sticky disable

# Workspaces ----
# Define names for default workspaces for which we configure key bindings later We use variables to avoid repeating the names in multiple places
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# Switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10
bindsym $mod+Tab workspace back_and_forth
bindsym $mod+bracketleft workspace prev
bindsym $mod+bracketright workspace next

# Move focused container to workspace
# This does not switch to that workspace, but could chain cmd w/ ;
bindsym $mod+Shift+1 move container to workspace number $ws1; workspace $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2; workspace $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3; workspace $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4; workspace $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5; workspace $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6; workspace $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7; workspace $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8; workspace $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9; workspace $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10; workspace $ws10


# Input devices ----
input type:keyboard {
	xkb_layout us 
	xkb_variant colemak
	xkb_options caps:escape
}

input "VEN_0488:00 0488:104A Touchpad" {
	click_method "clickfinger"
	accel_profile "flat"
}


# Launch ----
