[global_config]
  always_split_with_profile = True
  broadcast_default = off
  dbus = False
  enabled_plugins = CustomCommandsMenu, APTURLHandler, LaunchpadBugURLHandler
  handle_size = 0
  inactive_color_offset = 0.90243902439
  suppress_multiple_term_dialog = True
  tab_position = bottom
  title_font = VT323-Noligs 12
  title_inactive_bg_color = "#282a36"
  title_inactive_fg_color = "#888a85"
  title_receive_bg_color = "#282a36"
  title_receive_fg_color = "#888a85"
  title_transmit_bg_color = "#282a36"
  title_transmit_fg_color = "#f3f99d"
  title_use_system_font = False
[keybindings]
  broadcast_off = None
  cycle_next = None
  cycle_prev = None
  edit_tab_title = <Shift><Alt>a
  edit_terminal_title = <Shift><Alt>x
  edit_window_title = <Shift><Alt>w
  go_down = <Alt>e
  go_left = <Alt>n
  go_right = <Alt>o
  go_up = <Alt>i
  group_all_toggle = None
  group_tab_toggle = None
  help = None
  new_terminator = None
  new_window = None
  next_tab = <Primary>Tab
  prev_tab = <Primary><Shift>Tab
  switch_to_tab_1 = None
  switch_to_tab_10 = None
  switch_to_tab_2 = None
  switch_to_tab_3 = None
  switch_to_tab_4 = None
  switch_to_tab_5 = None
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = hyper
      type = Terminal
    [[[window0]]]
      parent = ""
      size = 675, 400
      type = Window
  [[alternate]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 023c1823-766e-4044-a5cb-a41cb444632e
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 44:71
      size = 850, 588
      title = nikoli@megaframe: ~
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = hyper-vt
      type = Terminal
      uuid = 023c1823-766e-4044-a5cb-a41cb444632e
[plugins]
[profiles]
  [[default]]
    background_color = "#2d2d2d"
    cursor_color = "#f57900"
    font = Iosevka Term 11
    foreground_color = "#d9efd3"
    palette = "#1f1f1f:#fb002a:#339c24:#659b25:#149b45:#53b82c:#2cb868:#e0ffef:#032710:#a7ff3f:#9fff6d:#d2ff6d:#72ffb5:#50ff3e:#22ff71:#daefd0"
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
  [[Dracula]]
    background_color = "#1e1f29"
    cursor_color = "#bbbbbb"
    font = Iosevka Term 12
    foreground_color = "#f8f8f2"
    palette = "#000000:#ff5555:#50fa7b:#f1fa8c:#bd93f9:#ff79c6:#8be9fd:#bbbbbb:#555555:#ff5555:#50fa7b:#f1fa8c:#bd93f9:#ff79c6:#8be9fd:#ffffff"
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
  [[JetBrains Darcula]]
    background_color = "#202020"
    cursor_color = "#ffffff"
    foreground_color = "#adadad"
    palette = "#000000:#fa5355:#126e00:#c2c300:#4581eb:#fa54ff:#33c2c1:#adadad:#555555:#fb7172:#67ff4f:#ffff00:#6d9df1:#fb82ff:#60d3d1:#eeeeee"
  [[Material colors]]
    background_color = "#1E282C"
    cursor_color = "#ff5c57"
    cursor_color_fg = False
    font = VT323-Noligs 17
    foreground_color = "#C3C7D1"
    palette = "#073641:#EB606B:#C3E88D:#F7EB95:#80CBC3:#FF2490:#AEDDFF:#FFFFFF:#002B36:#EB606B:#C3E88D:#F7EB95:#7DC6BF:#6C71C3:#34434D:#FFFFFF"
    scrollbar_position = hidden
    use_system_font = False
  [[hyper]]
    background_color = "#282a36"
    cursor_color = "#ff5c57"
    cursor_color_fg = False
    font = Iosevka Medium 12
    foreground_color = "#edeee9"
    palette = "#282a38:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
  [[hyper-fantasque]]
    background_color = "#282a36"
    cursor_color = "#ff5c57"
    cursor_color_fg = False
    font = Fantasque Sans Mono 15
    foreground_color = "#edeee9"
    palette = "#282a38:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
  [[hyper-material-vt]]
    background_color = "#263238"
    cursor_color = "#ff5c57"
    cursor_color_fg = False
    font = VT323-Noligs 17
    foreground_color = "#edeee9"
    palette = "#282a38:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
  [[hyper-menlo]]
    background_color = "#282a36"
    cursor_color = "#ff5c57"
    cursor_color_fg = False
    font = Menlo 13
    foreground_color = "#edeee9"
    palette = "#282a38:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
  [[hyper-scientifica]]
    background_color = "#282a36"
    cursor_color = "#ff5c57"
    cursor_color_fg = False
    font = scientifica 14
    foreground_color = "#edeee9"
    palette = "#282a38:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
  [[hyper-vt]]
    background_color = "#282a36"
    cursor_color = "#ff5c57"
    cursor_color_fg = False
    font = VT323-Noligs 15
    foreground_color = "#edeee9"
    palette = "#282a38:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
  [[nord]]
    background_color = "#2E3440"
    cursor_color = "#D8DEE9"
    foreground_color = "#D8DEE9"
    palette = "#3B4252:#BF616A:#A3BE8C:#EBCB8B:#81A1C1:#B48EAD:#88C0D0:#E5E9F0:#4C566A:#BF616A:#A3BE8C:#EBCB8B:#81A1C1:#B48EAD:#8FBCBB:#ECEFF4"
